[package]
name = "cargo-udeps"
version = "0.1.8"
authors = ["est31 <MTest31@outlook.com>", "Ryo Yamashita <qryxip@gmail.com>"]
description = "Find unused dependencies in Cargo.toml"
repository = "https://github.com/est31/cargo-udeps"
license = "MIT OR Apache-2.0"
readme = "README.md"
keywords = ["cargo"]
categories = ["development-tools", "development-tools::cargo-plugins"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ansi_term = "0.12"
cargo = "0.42"
failure = "0.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
structopt = "0.3"

[dev-dependencies]
dirs = "2.0"
pretty_assertions = "0.6"
tempdir = "0.3"

[profile.dev]
debug = false

[patch.crates-io]
curl-sys = { git = "https://github.com/est31/curl-rust/", branch = "bug_bisection" }
